@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="mt-4 container flex-row">
    <div class="card w-25">
        <div class="card-body">
            <p class="card-text">Game Score Portal is a web application that demonstrates how to use Entity Framework Core in an ASP.NET Core Razor Pages web app.</p>
        </div>
    </div>
</div>
